{% extends "base.html" %}

{% block header %}
<div class="alert alert-primary" role="alert">
  <h3>
    SNS in WORKGROUP
  </h3>
  <a href="{% url 'logout' %}">logout</a>
</div>
{% endblock header %}

{% block content %}
<!-- {% if user.is_authenticated %} -->
<div class="container">
  {% for item in object_list %}
  <div class="alert alert-info" role="alert">
    <p>title: {{item.title}} </p>
    <p>contributor: {{item.contributor}} </p>
    <a href='{% url "detail" item.pk %}' class="btn btn-primary" role="button" aria-pressed="true">Detail</a>
    <a href="#" class="btn btn-secondary" role="button" aria-pressed="true">Good</a>
    <a href="#" class="btn btn-info" role="button" aria-pressed="true">Be read</a>

  </div>  
  {% endfor %}
</div>
<!-- {% else %}
<div class="container">
  <h3>
    please login
  </h3>
</div>
{% endif %} -->

{% endblock content %}